body {
    font-family: "Titillium Web";
    font-weight: bold;
}

.icon img{
    background: transparent;
    height:30px;
    width: auto;
}

.card-images {
    border: none;
}

.land {
    border: 5px solid green;
}

.creature {
    border: 5px solid red;
}

.instant {
    border: 5px solid yellow;
}

#nav-bar {
    height:100px;
    /* position: fixed; */
    top: 0;
}

#error-message {
    color:red;
    font-style:italic;
    font-size: 20px;
}

#card-display-section {
    margin: 20px;
    padding: 10px;
    height: auto;
    width: auto;
    border: 5px solid black
}

#mtg-header {
    font-family:'Zen Tokyo Zoo';
    font-size: 50px;
    padding: 20px;
    font-weight: normal;
}

#dropdown-btns {
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .card-images {
        width: 33%;
    }
}

@media screen and (max-width: 576px){
    .card-images {
        width: 50%;
    }
}
